.word {
  display: inline-block;
  margin-right: 6px;
}

.fakeButton:hover {
  cursor: pointer;
}

.highlight {
  background-color: yellow;
}

.center {
  display: grid;
  place-items: center;
  height: 100vh;
}

.parent {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  width: 75%;
}

.hideWord {
  display: none;
}

.deletedWord {
  color: lightgray;
}

.textContainer {
  padding: 12px;
}
